h1{
    text-align: center;
}

*{
background-color: beige;
}


.firstTd{
    border: 5px solid ;
    font-size: 1.5rem;
    padding: 0 50px;
}

.add{
margin-left: 600px;
position: absolute; 
top:30px;
left: 400px;
width:60px;

}
.firstDiv{
    display: inline;
    position: relative;
}

td{
    text-align: center;
    font-size: 25px;
}
